@use "../abstracts/" as *;

.#{$prefix} {
  &-round {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
  }
}

.#{$prefix} {
  &-round-top {
    border-radius: 100vw 100vw 0 0;
    aspect-ratio: 1 / 1;
  }
}
